body,html{
  padding : 0px;
  margin : 0px; 
}
#world{
  position : absolute;
  width : 600px;
  height : 600px;
  background-color : black;
  overflow : hidden;
}
#initTime{
  position: absolute;
  top : 600px;
}